<h2>Your Dashboard</h2>
{{#each userPosts}}
  <div class='post'>
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <button class='edit-post' data-id='{{id}}'>Edit</button>
    <button class='delete-post' data-id='{{id}}'>Delete</button>
  </div>
{{/each}}
<button id='new-post'>Create New Post</button>
<script src='/js/login.js'></script>